.form-group {
  margin: 0;
  padding: 0;
}

.form-group label {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 500;
  background: transparent;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #767676;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}

.form-control:focus {
  color: #767676;
  border-color: #495057;
  outline: 0;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.error {
  color: #dc3545;
  font-size: 0.875rem;
  background: transparent;
}
