/* Estilo del contenedor principal */
.app {
  min-height: calc(100vh - 4rem);
  background: #4c4c4c;
  display: flex;
  flex-direction: column;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

/* Estilo del grid donde renderizas projects */
.projects-grid {
  padding: 24px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 24px;
  box-sizing: border-box;
}
